In [35]:
from pyspark.sql import SparkSession ,functions as f
import random

In [2]:
spark = SparkSession.builder.appName("exemplordd").getOrCreate()

23/10/24 23:34:51 WARN Utils: Your hostname, udemySPark resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/10/24 23:34:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/24 23:34:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [1,2,3,4,5,6]
rdd = spark.sparkContext.parallelize(data)
#vendo os 5 primeiros elementos do RDD
rdd.take(5)

[1, 2, 3, 4, 5]

In [4]:
rdd.count()

6

In [5]:
rdd.mean()

3.5

In [6]:
rdd.sum()

21

In [7]:
rdd.min()

1

In [8]:
#Calculo do desvio padrao
rdd.stdev()

1.707825127659933

In [11]:
#filter com lambda
filtro = rdd.filter(lambda filtro : filtro > 2)
filtro.collect()

[3, 4, 5, 6]

In [13]:
amostra = rdd.sample(True, 0.5, 1)
amostra.collect()

[2, 5, 6]

In [15]:
#Usando a function Map que aplica um operacao lambda em todos os elementos
mapa = rdd.map(lambda conta : conta * 2)
mapa.collect()

[2, 4, 6, 8, 10, 12]

In [17]:
data2 = [1,2,3,4,5,6,7,8,9,10]
rdd2 = spark.sparkContext.parallelize(data2)
rdd2.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#Agrupar os 2 RDD

union = rdd.union(rdd2)
union.collect()

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
#subtrair os valores de uma tabela, caso a outra tenha os  mesmos
subtract = rdd2.subtract(rdd)
subtract.collect()

[7, 8, 9, 10]

In [25]:
# Pegar todos os valores que aparecem dentro das duas tabelas 
intersection_value = rdd.intersection(rdd2)
intersection_value.collect()

[6, 1, 2, 3, 4, 5]

In [29]:
#realizar um plano cartesiano com os valores

cartesian = rdd.cartesian(rdd2)
cartesian.collect()

[(1, 1),
 (1, 2),
 (1, 3),
 (2, 1),
 (2, 2),
 (2, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 4),
 (2, 5),
 (2, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 7),
 (2, 8),
 (2, 9),
 (1, 10),
 (2, 10),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 1),
 (4, 2),
 (4, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 7),
 (4, 8),
 (4, 9),
 (3, 10),
 (4, 10),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 1),
 (6, 2),
 (6, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 4),
 (6, 5),
 (6, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (5, 10),
 (6, 10)]

In [30]:
cartesian.countByValue()

defaultdict(int,
            {(1, 1): 1,
             (1, 2): 1,
             (1, 3): 1,
             (2, 1): 1,
             (2, 2): 1,
             (2, 3): 1,
             (1, 4): 1,
             (1, 5): 1,
             (1, 6): 1,
             (2, 4): 1,
             (2, 5): 1,
             (2, 6): 1,
             (1, 7): 1,
             (1, 8): 1,
             (1, 9): 1,
             (2, 7): 1,
             (2, 8): 1,
             (2, 9): 1,
             (1, 10): 1,
             (2, 10): 1,
             (3, 1): 1,
             (3, 2): 1,
             (3, 3): 1,
             (4, 1): 1,
             (4, 2): 1,
             (4, 3): 1,
             (3, 4): 1,
             (3, 5): 1,
             (3, 6): 1,
             (4, 4): 1,
             (4, 5): 1,
             (4, 6): 1,
             (3, 7): 1,
             (3, 8): 1,
             (3, 9): 1,
             (4, 7): 1,
             (4, 8): 1,
             (4, 9): 1,
             (3, 10): 1,
             (4, 10): 1,
             (5, 1): 1,
             (5, 2): 1,
             (5, 3): 1,
             (6, 1): 1,
             (6, 2): 1,
             (6, 3): 1,
             (5, 4): 1,
             (5, 5): 1,
             (5, 6): 1,
             (6, 4): 1,
             (6, 5): 1,
             (6, 6): 1,
             (5, 7): 1,
             (5, 8): 1,
             (5, 9): 1,
             (6, 7): 1,
             (6, 8): 1,
             (6, 9): 1,
             (5, 10): 1,
             (6, 10): 1})

In [34]:
#Teste Juntas os dois rdd`s multiplicar seus valores e ent contar eles 

valores_union = rdd.union(rdd2)
valores_union_multiplie = valores_union.map(lambda calculo : calculo * 2)
valores_union_multiplie.countByValue()

defaultdict(int,
            {2: 2, 4: 2, 6: 2, 8: 2, 10: 2, 12: 2, 14: 1, 16: 1, 18: 1, 20: 1})

In [37]:
rdd_cartesian = spark.sparkContext.parallelize([(i, random.randint(200, 1000)) for i in range(1, 21)])
rdd_cartesian.collect()

[(1, 902),
 (2, 637),
 (3, 241),
 (4, 410),
 (5, 928),
 (6, 412),
 (7, 515),
 (8, 756),
 (9, 233),
 (10, 218),
 (11, 914),
 (12, 938),
 (13, 494),
 (14, 569),
 (15, 894),
 (16, 596),
 (17, 905),
 (18, 631),
 (19, 453),
 (20, 477)]

In [39]:
#Selecionar as Keys
rdd_keys = rdd_cartesian.keys()
rdd_keys.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
#Selecionar os values
rdd_values = rdd_cartesian.values()
rdd_values.collect()

[902,
 637,
 241,
 410,
 928,
 412,
 515,
 756,
 233,
 218,
 914,
 938,
 494,
 569,
 894,
 596,
 905,
 631,
 453,
 477]

In [43]:
rdd_cartesian.countByKey()

defaultdict(int,
            {1: 1,
             2: 1,
             3: 1,
             4: 1,
             5: 1,
             6: 1,
             7: 1,
             8: 1,
             9: 1,
             10: 1,
             11: 1,
             12: 1,
             13: 1,
             14: 1,
             15: 1,
             16: 1,
             17: 1,
             18: 1,
             19: 1,
             20: 1})

In [44]:
rdd_cartesian.countByValue()

defaultdict(int,
            {(1, 902): 1,
             (2, 637): 1,
             (3, 241): 1,
             (4, 410): 1,
             (5, 928): 1,
             (6, 412): 1,
             (7, 515): 1,
             (8, 756): 1,
             (9, 233): 1,
             (10, 218): 1,
             (11, 914): 1,
             (12, 938): 1,
             (13, 494): 1,
             (14, 569): 1,
             (15, 894): 1,
             (16, 596): 1,
             (17, 905): 1,
             (18, 631): 1,
             (19, 453): 1,
             (20, 477): 1})

In [48]:
rdd_cartesian = rdd_cartesian.mapValues(lambda valor : valor * 2)
rdd_cartesian.collect()

[(1, 1804),
 (2, 1274),
 (3, 482),
 (4, 820),
 (5, 1856),
 (6, 824),
 (7, 1030),
 (8, 1512),
 (9, 466),
 (10, 436),
 (11, 1828),
 (12, 1876),
 (13, 988),
 (14, 1138),
 (15, 1788),
 (16, 1192),
 (17, 1810),
 (18, 1262),
 (19, 906),
 (20, 954)]

In [51]:
# Dividindo os valores
divisor = rdd_cartesian.mapValues(lambda div : div / 3)
divisor.collect()

[(1, 601.3333333333334),
 (2, 424.6666666666667),
 (3, 160.66666666666666),
 (4, 273.3333333333333),
 (5, 618.6666666666666),
 (6, 274.6666666666667),
 (7, 343.3333333333333),
 (8, 504.0),
 (9, 155.33333333333334),
 (10, 145.33333333333334),
 (11, 609.3333333333334),
 (12, 625.3333333333334),
 (13, 329.3333333333333),
 (14, 379.3333333333333),
 (15, 596.0),
 (16, 397.3333333333333),
 (17, 603.3333333333334),
 (18, 420.6666666666667),
 (19, 302.0),
 (20, 318.0)]

In [52]:
rdd_cartesian.collect()

[(1, 1804),
 (2, 1274),
 (3, 482),
 (4, 820),
 (5, 1856),
 (6, 824),
 (7, 1030),
 (8, 1512),
 (9, 466),
 (10, 436),
 (11, 1828),
 (12, 1876),
 (13, 988),
 (14, 1138),
 (15, 1788),
 (16, 1192),
 (17, 1810),
 (18, 1262),
 (19, 906),
 (20, 954)]

In [53]:
rdd_debitos = spark.sparkContext.parallelize([(i, random.randint(200, 1000)) for i in range(1, 21)])

In [56]:
rdd_juncao = rdd_cartesian.join(rdd_debitos)
rdd_juncao.collect()

[(6, (824, 412)),
 (12, (1876, 574)),
 (18, (1262, 951)),
 (1, (1804, 209)),
 (7, (1030, 729)),
 (13, (988, 498)),
 (19, (906, 355)),
 (2, (1274, 604)),
 (8, (1512, 482)),
 (14, (1138, 475)),
 (20, (954, 698)),
 (3, (482, 261)),
 (9, (466, 238)),
 (15, (1788, 730)),
 (4, (820, 496)),
 (10, (436, 633)),
 (16, (1192, 997)),
 (5, (1856, 328)),
 (11, (1828, 477)),
 (17, (1810, 632))]

In [58]:
subtracao_debitos = rdd_juncao.mapValues(lambda valores : valores[0] - valores[1])
subtracao_debitos.collect()

[(6, 412),
 (12, 1302),
 (18, 311),
 (1, 1595),
 (7, 301),
 (13, 490),
 (19, 551),
 (2, 670),
 (8, 1030),
 (14, 663),
 (20, 256),
 (3, 221),
 (9, 228),
 (15, 1058),
 (4, 324),
 (10, -197),
 (16, 195),
 (5, 1528),
 (11, 1351),
 (17, 1178)]

In [61]:
subtracao_debitos = subtracao_debitos.sortBy(lambda x : x[0])
subtracao_debitos.collect()

[(1, 1595),
 (2, 670),
 (3, 221),
 (4, 324),
 (5, 1528),
 (6, 412),
 (7, 301),
 (8, 1030),
 (9, 228),
 (10, -197),
 (11, 1351),
 (12, 1302),
 (13, 490),
 (14, 663),
 (15, 1058),
 (16, 195),
 (17, 1178),
 (18, 311),
 (19, 551),
 (20, 256)]